SES_SMTP_HOST=email-smtp.eu-north-1.amazonaws.com
SES_SMTP_PORT=587
SES_SMTP_USERNAME=
SES_SMTP_PASSWORD=
SES_FROM_EMAIL=noreply@lambdamanager.com
CONTRACT_EMAIL_CONTRACT_URL=http://localhost:5173/account/employment
